<%= form_for(@user, method: :put) do |f| %>
<p><%=f.label :name %></p>
<p><%=f.text_field :name %></p>
<p><%=f.label :email %></p>   
<p><%=f.text_field :email %></p> 
<p><%=f.label :password %></p>   
<p><%=f.text_field :password %></p>
<%=f.submit :edit %>
<% end %>

<%= link_to "Delete", user_path(@user), method: :delete%>
