<html>
<head>
	<title>Blog-e</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	
	<header>
		<!-- Logo that links to homepage. -->
		<a href="/home"><img src="/images/Blog-e.png" width="367" height="152" /></a>
		
		<nav>
			<ul>

			<% if session[:user_id] %>
				<li><a href="/users">Home</a></li>
				<li><a href="/logout">Sign Out</a></li>
			<% else %>
				<li><a href="/login">Sign In</a></li>
				<li><a href="/users/new">Sign Up</a></li>

				<% end %>
				<!-- <li><a href="/login">Login</a></li> Login link was not working, commented out-->
				
			</ul>
		</nav>
	</header>

		<% if flash[:notice] %>
			<h1 class="flash-notice">
			<%=flash[:notice]%>
			</h1>
		<% end %>
		<%if flash[:alert]%>
			<h1 class="flash-alert">
			<%=flash[:alert]%>
			</h1>
		<% end %>

	<%= yield %>

	<footer>
		<p>&copy; October 2015</p>
	</footer>
</body>
</html>